body {
    margin: 0;
}

nav {
    padding: 55px;
    margin-right: 174px;
    overflow: hidden;
    font-size: 23px;
    display: block;
    text-align: center;
    
    
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: right;
    display: block;
}

a {
    padding: 0 20px;
    display: block;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Lpng {
    margin-left: 219px;
    margin-right: 839px;
    margin-top: 56px;
    vertical-align: top;
    
}    
